<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Auomation Suite" parallel="classes" thread-count="3">
    <!--    <groups>-->
    <!--        <run>-->
    <!--            <include name="size"/>-->
    <!--        </run>-->
    <!--    </groups>-->
    <groups>
        <run>
            <include name="Regression"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="utils.RetryListener"/>
    </listeners>
    <test name="User TestCases">
        <classes>
            <!-- //<class name="userManagement.Getuser"/> -->
            <class name="userManagement.Getuser"/>
        </classes>


    </test>
</suite>